{% extends 'layout.html'%}

{% block content %}
	<section class="row blue-row">
		<div class="container success-stories">
			<h1> All Courses </h1>
			
			<div class="col col-md-1">
			</div>

			<div class="col col-md-10 heading-para">
			<p> 
				Choose the right courses for your profile and we will help you to meet your prefessional goals. Depending on your education, experience and career goals, we recommend the right courses for you.
			</p>
			</div>

			<div class="col col-md-1">
				
			</div>
		</div>
	</section>

	<section class="row course-details">
		<h2> ACTUARY COURSES </h2>
		<!-- Start of First 3 Course Card -->
		<div class="container">
			<div class="col col-sm-6 col-md-4">
				<div class="course-card">
					<div class="course-image">
						<h2> ACET </h2>
					</div>
					<div class="course-text">
						ACET prepration is you first step in the world of Actuary Science. We help you prepare for the test. The course includes mock tests and examination tips.
					</div>
					<div class="course-duration">
						<i class="ion-clock"> 2 - 3 Months </i> 
					</div>
					<div class="course-fee">
						<i class="ion-cash"> ₹ 5000 </i>
					</div>
				</div>
			</div>
			<div class="col col-sm-6 col-md-4">
				<div class="course-card">
					<div class="course-image">
						<h2> CT Series </h2>
					</div>
					<div class="course-text">
						Learn and prepare for the CT series test and do signifcantly well in the test. We help you understand the concepts with practicals and actual industry data sets. 
					</div>
					<div class="course-duration">
						<i class="ion-clock"> 2 - 3 Months</i> 
					</div>
					<div class="course-fee">
						<i class="ion-cash"> ₹ 10,000 per paper </i>
					</div>
				</div>
			</div>
			<div class="col col-sm-6 col-md-4">
				<div class="course-card">
					<div class="course-image">
						<h2> CT Practical </h2>
					</div>
					<div class="course-text">
						CT 1, CT 3, CT 5 and CT 6
					</div>
					<div class="course-duration">
						<i class="ion-clock"> 15 - 20 Hours per CT</i> 
					</div>
					<div class="course-fee">
						<i class="ion-cash"> ₹ 5,500 </i>
					</div>
				</div>
			</div>	

			<!-- End of first 3 Course Card  -->
			<!-- Start of Second 3 Course Card-->
			<div class="col col-sm-6 col-md-4">
				<div class="course-card">
					<div class="course-image">
						<h2> Actuarial Pricing </h2>
					</div>
					<div class="course-text">
						<!-- ACET prepration is you first step in the world of Actuary Science. We help you prepare for the test. The course includes mock tests and examination tips. -->
					</div>
					<div class="course-duration">
						<i class="ion-clock"> 20 - 25 Hours </i> 
					</div>
					<div class="course-fee">
						<i class="ion-cash"> ₹ 5,500 </i>
					</div>
				</div>
			</div>
			<div class="col col-sm-6 col-md-4">
				<!-- <div class="course-card">
					<div class="course-image">
						<h2> CT Series </h2>
					</div>
					<div class="course-text">
						Learn and prepare for the CT series test and do signifcantly well in the test. We help you understand the concepts with practicals and actual industry data sets. 
					</div>
					<div class="course-duration">
						<i class="ion-clock"> 2 - 3 Months</i> 
					</div>
					<div class="course-fee">
						<i class="ion-cash"> ₹ 10,000 per paper </i>
					</div>
				</div> -->
			</div>
			<div class="col col-sm-6 col-md-4">
				<!-- <div class="course-card">
					<div class="course-image">
						<h2> CT Series Practical </h2>
					</div>
					<div class="course-text">
						CT 1, CT 3, CT 5 and CT 6
					</div>
					<div class="course-duration">
						<i class="ion-clock"> 15 - 20 Hours per CT</i> 
					</div>
					<div class="course-fee">
						<i class="ion-cash"> ₹ 5,500 </i>
					</div>
				</div> -->
			</div>
			<!-- End of Second 3 course card -->
	</section>

	<section class="row course-details">
		<h2> DATA ANALYTICS COURSES </h2>
		<div class="container">
			<div class="col col-sm-6 col-md-4">
				<div class="course-card">
					<div class="course-image">
						<h2> MS Excel </h2>
					</div>
					<div class="course-text">
						Learn the world's most popular analytics tool. This course includes Basic and Advance Operations. 
					</div>
					<div class="course-duration">
						<i class="ion-clock"> 18 - 20 Hours</i> 
					</div>
					<div class="course-fee">
						<i class="ion-cash"> ₹ 4500 </i>
					</div>
				</div>
			</div>
			<div class="col col-sm-6 col-md-4">
				<div class="course-card">
					<div class="course-image">
						<h2> VBA </h2>
					</div>
					<div class="course-text">
						Learn to automate your tasks and create macros for MS- Excel. The course is focused to make you more productive and job ready. 
					</div>
					<div class="course-duration">
						<i class="ion-clock"> 20 - 22 Hours</i> 
					</div>
					<div class="course-fee">
						<i class="ion-cash"> ₹ 5000 </i>
					</div>
				</div>
			</div>
			<div class="col col-sm-6 col-md-4">
				<div class="course-card">
					<div class="course-image">
						<h2> MySQL </h2>
					</div>
					<div class="course-text">
						Learn the world's most used database MySQL. In this course you will learn everything about the database operation; Read, Write, Update and Delete
					</div>
					<div class="course-duration">
						<i class="ion-clock"> 18 - 20 Hours</i> 
					</div>
					<div class="course-fee">
						<i class="ion-cash"> ₹ 5000 </i>
					</div>
				</div>
			</div>			
		</div>
	</section>

	<section class="row course-details">
		<h2> ADVANCE DATA ANALYTICS COURSES</h2>
		<!-- Start of first 3 course card -->
			<div class="container">
				<div class="col col-sm-6 col-md-4">
					<div class="course-card">
						<div class="course-image">
							<h2> SAS </h2>
						</div>
						<div class="course-text">
							Learn the most popular data science analytical tool "SAS". This course will help you to build up your SAS skill with partical implications.
						</div>
						<div class="course-duration">
							<i class="ion-clock"> 25 - 30 Hours</i> 
						</div>
						<div class="course-fee">
							<i class="ion-cash"> ₹ 16,000 </i>
						</div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-4">
					<div class="course-card">
						<div class="course-image">
							<h2> Advance SAS </h2>
						</div>
						<div class="course-text">
							Learn to predictive modeling with SAS and be industry ready. This course will introduce to advance level SAS operations.  
						</div>
						<div class="course-duration">
							<i class="ion-clock"> 40 Hours</i> 
						</div>
						<div class="course-fee">
							<i class="ion-cash"> ₹ 25,000 </i>
						</div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-4">
					<div class="course-card">
						<div class="course-image">
							<h2> R </h2>
						</div>
						<div class="course-text">
							Learn R, the most widely used open source analytics tool in the world. This course will build up you data analytics skill for the next level.
						</div>
						<div class="course-duration">
							<i class="ion-clock"> 35 - 40 Hours</i> 
						</div>
						<div class="course-fee">
							<i class="ion-cash"> ₹ 11,500 </i>
						</div>
					</div>
				</div>
				<!-- End of first 3 Course Card			 -->
				<!-- Start of second 3 Course Card -->
				<div class="col col-sm-6 col-md-4">
					<div class="course-card">
						<div class="course-image">
							<h2> Hadoop </h2>
						</div>
						<div class="course-text">
							Learn the hottest big data technology Hadoop. This course will help you to build up your SAS skill with partical implications.
						</div>
						<div class="course-duration">
							<i class="ion-clock"> 40 Hours</i> 
						</div>
						<div class="course-fee">
							<i class="ion-cash"> ₹ 18,000 </i>
						</div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-4">
					<!-- <div class="course-card">
						<div class="course-image">
							<h2> Advance SAS </h2>
						</div>
						<div class="course-text">
							Learn to predictive modeling with SAS and be industry ready. This course will introduce to advance level SAS operations.  
						</div>
						<div class="course-duration">
							<i class="ion-clock"> 40 Hours</i> 
						</div>
						<div class="course-fee">
							<i class="ion-cash"> ₹ 25,000 </i>
						</div>
					</div> -->
				</div>
				<div class="col col-sm-6 col-md-4">
					<!-- <div class="course-card">
						<div class="course-image">
							<h2> R </h2>
						</div>
						<div class="course-text">
							Learn R, the most widely used open source analytics tool in the world. This course will build up you data analytics skill for the next level.
						</div>
						<div class="course-duration">
							<i class="ion-clock"> Wait for Update</i> 
						</div>
						<div class="course-fee">
							<i class="ion-cash"> Wait for update </i>
						</div>
					</div> -->
				</div>
				<!-- End of Second 3 course card -->
			</div>
		</section>
		<br/>
		<br/>
	
{% endblock content %}
