{% extends 'layout.html' %}

{% block content %}
	<section class="row blue-row">
		<div class="container success-stories">
			<h1> Contact US </h1>
			
			<div class="col col-md-1">
			</div>

			<div class="col col-md-10 heading-para">
			<p> 
				Feel free to contact us to know which course is right for you. You can also schedule a demo class!
			</p>
			</div>

			<div class="col col-md-1">
				
			</div>
		</div>
	</section>
	<section class="row">
		<h3> USE WEBSITE CHAT TO TALK TO US <br/> OR <br/> FILL THE DETAILS TO GET A CALL BACK!</h3>

		<div class="container">

		<div class="col col-sm-6 col-md-6 address-area">
			<div class="map">
				<img src="images/ASDI-on-MAP.png" alt="ASDI Location">
			</div>
		</div>

		<div class="col col-sm-6 col-md-6 address-text">
			<h3>Analytical Skill Development Institute</h3>
			<address>
				4/30 basement, West Patel Nagar,<br/>
				(Near Patel Nagar Metro Station)<br/>
				New Delhi 110008, India<br/>
				<i class="ion-ios-telephone"></i> <a href="tel:+91-8447731878">+91 8447731878</a><br/>
				<i class="ion-ios-telephone"></i> <a href="tel:+91-1142283840">+91 1142283840</a><br/>
				<i class="ion-ios-paperplane"></i> <a href="mailto:info@asdi.co.in">info@asdi.co.in</a><br/>


			</address>
		</div>
		</div>
		
	</section>

	
{% endblock content%}

